<!-- templates/users/edit_profile.html -->
{% extends 'base.html' %}
{% block head_title %}Edit profile{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2 class="my-5">Edit profile</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {# Include the Interests field from the ProfileForm #}
        <div class="form-group">
          {{ form.interests.label_tag }}
          {{ form.interests }}
        </div>

        {# Display the existing avatar if it exists #}
        {% if user.profile.avatar %}
          <div class="form-group">
            <label>Current Avatar:</label>
            <br>
            <img src="{{ user.profile.avatar.url }}" alt="Current Avatar">
          </div>
        {% endif %}

        {# Include the Avatar field from the ProfileForm #}
        <div class="form-group">
          {{ form.avatar.label_tag }}
          {{ form.avatar }}
        </div>

        {# Include the About Me field from the ProfileForm #}
        <div class="form-group">
          {{ form.about_me.label_tag }}
          {{ form.about_me }}
        </div>

        {# Include the banner field from the ProfileForm #}
        <div class="form-group">
          {{ form.banner.label_tag }}<br>
          {{ form.banner }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
    </div>
  </div>
</div>
{% endblock content %}
