<!-- templates/users/profile.html -->
{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{ user.username }} | Django Blog{% endblock head_title %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-3 mb-3">
      <!-- Profile Banner -->
      <!--
      {% if user.profile.banner %}
      <img class="img-fluid" src="{{ user.profile.banner.url }}" alt="{{ user.username }} Banner">
      {% else %}-->
      <!-- You can add a default banner image here if needed -->
      {% endif %}
    </div>
    <div class="col-lg-9">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3">
            <!-- User Avatar -->
            {% if user.is_authenticated %}
            {% if profile and profile.avatar %}
              <img src="{{ profile.avatar.url }}" alt="{{ user.username }}'s Avatar" class="user-avatar">
            {% else %}
              <!-- Handle the case when the user doesn't have an avatar -->
              <i class="material-icons">account_circle</i>
            {% endif %}
          {% endif %}
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h2 class="card-title"><a href="{% url 'users:edit_profile' user.username %}">{{ user.username }}</a></h2>
              <p class="card-text"><strong>About Me:</strong> {{ user.profile.about_me }}</p>
              <p class="card-text"><strong>Interests:</strong> {{ user.profile.interests }}</p>
              <!-- Add more user details here -->
              <p class="card-text"><small class="text-muted">Last login on: {{ user.last_login }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
