<!-- templates/core/post.html -->
{% extends 'base.html' %}

{% block css %}
{% load static %}  
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />


    <!-- jQuery library -->
    <script src="{% static "blog/js/jquery-3.4.1.min.js " %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static "blog/js/bootstrap.min.js " %}"></script>

{% endblock css%}

{% block head_title %}{{ post.title }}{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>

<main>
   
<section>
    <div class="about-content">
        
    <h1>About the WilderNet</h1>
   
    <p>
        Welcome to the WilderNet! The WilderNet is an experimental 
        project that aims to make it easier to find independent 
        blogs from amateur content creators. </p>



        <p>The WilderNet is for people who are looking for an internet experience that is fun and serendipitious.
        
        Think of it like an old-fashioned card catalog. </p>

        <p>
            This is a user-curated community. 
            We encourage users to recommend blogs they find interesting and tag your recommendations by subject. 
        </p>
    

 
    <p>Are you the owner of a blog? Add it to our catalog! 
        We do not copy your content or present it as our own.  </p>

    <br>
    <p>Help us grow our community. Sign up <a href="{% url 'users:signup' %}"> here </a>
    <p>Recommend a blog  <a href="{% url 'URLsub:urlsub' %}"  >here</a>
    <br>
    <p>Leave us a  <a href="{% url 'ContactUs:contact' %}" >question, comment or suggestion</a>
    

</section>

</div>
</main>
</body>
</html>
{% endblock content %}
