<!-- templates/core/url_specific_forum.html -->
{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The WilderNet Home</title>
    {% load static %}
    {% block css %}{% endblock css %}
  <!--  <link rel="stylesheet" type="text/css" href="{% static 'css/core/home.css' %}">-->
</head>

<div class="container mt-4">
    <div class="urlsub-details">
        <p><strong>Title:</strong> {{ urlsub_title }}</p>
      </div>
    <div class="row">
    {% for post in object_list %}
    <a href="{% url 'core:url_specific_forum' pk=post.pk slug=post.slug %}">
        <div class="entry">
        <div class="thumbnail">
          {% if post.image %}
          <img src="{{ post.image.url }}" alt="{{ post.title }}">
          {% else %}
          <img src="/static/img/default.png">
          {% endif %}
        </div>
        <div class="card-title">{{ post.title|truncatechars:100 }}</div>
        <div class="author">{{ post.author.username }}</div>
        <div class="card-text">{{ post.content|truncatechars:100 }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
