<!-- templates/core/discussion.html -->
<!--This is for the url specific discussion forum-->
{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The WilderNet Home</title>
    {% load static %}
    {% block css %}{% endblock css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/core/discussion.css' %}">
</head>

<div class="container mt-4">
    <i class="material-icons">arrow_back</i>

    <div class="urlsub-details">
        <h1><a href="{{ urlsub_url }}" target="_blank" class="urlsub-title">{{ urlsub_title }}</a></h1>
    </div>
    <div class="row">
    {% for post in object_list %}
    <a href="{% url 'core:url_specific_forum' pk=post.urlsub.pk slug=post.urlsub.slug %}">
      <div class="entry">
        <div class="thumbnail">
          {% if post.image %}
          <img src="{{ post.image.url }}" alt="{{ post.title }}">
          {% else %}
          <img src="/static/img/default.png">
          {% endif %}
        </div>
        <div class="card-title">{{ post.title|truncatechars:100 }}</div>
        <div class="author">{{ post.author.username }}</div>
        <div class="card-text">{{ post.content|truncatechars:100 }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
