<!-- templates/core/forum.html -->

{% extends 'base.html' %}



{% block content %}

{% block css %}
{% load static %}
<link rel="stylesheet" type= "text/css" href="/static/css/index.css" />
{% endblock css%}

{% if user.is_authenticated %}
<div class="navbar-nav ml-auto">
  <a href="{% url 'core:post_create' %}"
    class="nav-item nav-link {% if request.path == '/post/create/' %}active{% endif %}">
    Create a post
  </a></div>
  {% else %}
  <div class="navbar-nav ml-auto">

    <a href="{% url 'users:signup' %}"
      class="nav-item nav-link {% if request.path == '/users/signup/' %}active{% endif %}">Sign up</a>
      <a href="{% url 'users:login' %}">Log In</a>
{% endif %}


<div class="row">
<div class="wrapper">
  {% for post in object_list %}
  <a href="{% url 'core:post' post.id post.slug %}">
  <div class="entry">
  
    <div class="thumbnail">
      {% if post.image %}
      
      
     
      <img  src="{{ post.image.url }}"  alt="{{ post.title }}">
      {% else %}
      <img src="/static/img/default.png">

      {% endif %}

    </div>
  
     

      <div class="card-title">{{ post.title| truncatechars:100 }} </div>
      <div class="author"> {{ post.author }}</div>
      <div class="card-text">{{ post.content| truncatechars:100 }}</div>
    </div>
      <div class="text-muted mb-3"></div>

  </a>
  {% endfor %}



</div>
</div>

{% endblock content %}