<!-- templates/core/home.html -->
{% extends 'base.html' %}





{% block content %}

{% block css %}
{% load static %}
<link rel="stylesheet" type= "text/css" href="/static/css/index.css" />
{% endblock css%}

<div class="card-list">
  {% for blog in blogs %}
  <div class="card">
      <div class="card-content">
        
        <a href="{{ blog.url }}">{{ blog.url }}</a>
          <p class="card-description">{{ blog.description|slice:"200"  }}</p>
          <div>
            {% for tag in blog.tags.all %}
            <span class="badge badge-dark">{{ tag }}</span>
            {% endfor %}
          </div>
      </div>
     
  </div> <br>
  {% endfor %}
</div>


</div>

{% endblock content %}

