<!-- templates/core/home.html -->
{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <!-- Link to the index.css file -->
{% endblock css %}

{% block content %}
<div class="fluid-container">

<div class="row">
  <div class="wrapper">
  {% for blog in blogs %}
    <div class="col-md-4 mb-4">
      <div class="card p-3"> <!-- Added padding classes p-3 -->
        <a href="{{ blog.url }}" style="font-size: 24px; color: rgb(100,100,100); display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ blog.title }}</a>
        <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Description: {{ blog.description }}</p>


    <!-- Button container -->
    <div class="button-container">
      <a href="{% url 'URLsub:urlsub_detail' blog.id blog.slug %}">
          <button class="styled-button">View Details</button>
      </a>     
      <a href="{{ blog.url }}">
          <button class="styled-button">Go to Blog</button>
      </a>             
    </div>

        <!-- Tags section moved below the buttons -->
        <div class="tags">
          <span class="tags-label">Tags:</span>
          <div class="badge-container">
            {% for tag in blog.tags.all %}
            {% if forloop.counter <= 6 %} {# Display up to 6 tags (2 lines) #}
              <a href="{% url 'SubjectTags:blogs_list_by_tag' tag.slug %}" class="badge badge-dark">{{ tag }}</a>
              {% endif %}
              {% endfor %}
          </div>
        </div>

    
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 and not forloop.last %}
      <div class="w-100"></div> <!-- Add a clearing div after every three cards -->
    {% endif %}
  {% endfor %}
</div>
</div>
</div>
{% endblock content %}
