<!-- templates/core/home.html -->
{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/index.css' %}" />
    <!-- Link to the index.css file -->
{% endblock css %}

{% block content %}
    <div class="row">
        {% for blog in blogs %}
            <div class="col-md-4">
                <div class="card">
                    <a href="{{ blog.url }}">{{ blog.title }}</a>

                    <p>Description: {{ blog.description }}</p>
                    <div class="tags">
                        <p>Tags:</p>
                        {% for tag in blog.tags.all %}
                            <a href="{% url 'SubjectTags:blogs_list_by_tag' tag.slug %}" class="badge badge-dark">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <a href="{% url 'URLsub:urlsub_detail' blog.id blog.slug %}">View Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
