<!-- templates/core/home.html -->
{% extends 'base.html' %}


{% block content %}

{% block css %}
{% load static %}
<link rel="stylesheet" type= "text/css" href="/static/css/index.css" />
{% endblock css%}

<div class="col">
<h1> This is the recommendations page</h1>
<p>There is nothing here yet, because we are still building up our blog database</p>

<p>If you would like to recommend a blog and help make Jidder a more useable resource, please fill out a form below </p>
</div>
{% endblock content %}