<!-- templates/URLsub/urlsub_detail.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The WilderNet Home</title>
    {% load static %}
    {% block css %}{% endblock css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/URLsub/urlsub_detail.css' %}">
</head>

<body>

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
                                <!-- Create post and discussion buttons -->
                                <div class="button-container urlsub-detail-buttons">
                                    <a href="{% url 'core:urlsub_post_create' pk=urlsub.pk slug=urlsub.slug %}">
                                        <button class="styled-button">Create Post</button>
                                    </a>
                                    <a href="#">
                                        <button class="styled-button">Discussion</button>
                                    </a>
                                </div>
            <div class="col-12">
      


             
 <!-- Main URL description -->
<div class="urlsub-card">
    <h1><a href="{{ urlsub.url }}" target="_blank" class="urlsub-title">{{ urlsub.title }}</a></h1>

    <p class = "urlsub-description">{{ urlsub.description }}</p>
    <strong>User: <a href="{% url 'users:profile' urlsub.user.username %}" class="urlsub-username">{{ urlsub.user.username }}</a></strong><br>
    {% for tag in urlsub.tags.all %}
        <a href="{% url 'SubjectTags:blogs_list_by_tag' tag.slug %}" class="badge badge-dark">{{ tag.name }}</a>
        {% if not forloop.last %} {% endif %}
    {% endfor %}
</div>

<!-- Paginated additional descriptions -->
<div class="row">
    {% for description in additional_descriptions_page %}
        <div class="col-12">
            <div class="urlsub-card">
                
                <p class="urlsub-description">{{ description.description }}</p>
                <strong>User: <a href="{% url 'users:profile' description.user.username %}" class="urlsub-username">{{ description.user.username }}</a></strong><br>
                {% for tag in description.tags.all %}
                    <a href="{% url 'SubjectTags:blogs_list_by_tag' tag.slug %}" class="badge badge-dark">{{ tag.name }}</a>
                    {% if not forloop.last %} {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
            </div>
<!-- Pagination links -->
{% if additional_descriptions_page.has_other_pages %}
    <ul class="pagination">
        {% if additional_descriptions_page.has_previous %}
            <li><a href="?page={{ additional_descriptions_page.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in additional_descriptions_page.paginator.page_range %}
            {% if additional_descriptions_page.number == i %}
                <li class="current"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if additional_descriptions_page.has_next %}
            <li><a href="?page={{ additional_descriptions_page.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
   
</div>
</body> 

</html>

{% endblock %}
