{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static "/static/home/css/index.css" %}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
{% endblock css%}

{% block head_title %}{% endblock %}

{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'plugins/input-tags/tagsinput.css' %}" />




<div class="page-container">
<header class="header">
  <!-- Insert header content here-->

</header>

  <section class="form-header">
    <h2> Blog Recommendations </h2>
    <p> Help us build our community! Recommend a blog below: </p>
  </section>



      <section class="form-section">
        <form action="{% url 'URLsub:urlsub' %}" method="post">
          {% csrf_token %}


      
     
          <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Blog Description:</label>
            {{ form.description }}
          </div>

          <div class="form-group-plugin">
            <label for="{{ form.tags.id_for_label }}">Subject tags:<br>Separate tags by a comma</label>
            {% render_field form.tags class="form-control" id="input-tags" data-role="tagsinput" %}
        </div>
        
        
      

          <div class="form-group">
            <label for="{{ form.url.id_for_label }}">Blog URL:</label>
            {{ form.url }}
          </div>
      
          <input type="submit" class="styled-button" value="Submit" name="urlsub">

        </form>
      </section>
      

      
    
</div>
{% endblock content %}

