<!-- templates/SubjectTags/blogs_list_by_tag.html -->
{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/static/home/css/index.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
{% endblock css %}

{% block content %}
    <h1>Blogs tagged with "{{ tag }}"</h1>
    <br>

    {% if blogs %}
        <ul>
            {% for blog in blogs %}
            <div class="card">
                <a href="{{ blog.url }}">{{ blog.url }}</a>
                <p>Description: {{ blog.description }}</p>
                <p>Recommends: {{ blog.submission_count }}</p>
                <div>
                <div>
                  <p>Tags</p>
                  {% for tag in blog.tags.all %}
                  <a href="{% url 'SubjectTags:blogs_list_by_tag' tag.slug %}" class="badge badge-dark">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
           
          </div>
          {% endfor %}
        </ul>
    {% else %}
        <p>No blogs found for this tag.</p>
    {% endif %}
    <!-- Pagination or additional content -->
{% endblock content %}
