<!-- templates/StripePayment/donation.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Donate</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <section>
        <div class="donation-form">
            <h2>Make a Donation</h2>
            <form action="" method="POST" id="donation-form">
                {% csrf_token %}
                <label for="amount">Amount (in dollars):</label>
                <input type="text" id="amount" name="amount" required>
                <button type="submit">Donate</button>
            </form>
        </div>
    </section>
</body>
</html>