<!DOCTYPE html>
<html>
<head>
    <title>Subscribe</title>
</head>
<body>
    <section>
        <div class="subscription-form">
            <h2>Subscribe Now</h2>
            <form action="/create-subscription-session/" method="POST">
                {% csrf_token %}
                {% for subscription in subscription_info %}
                <label>
                    <input type="radio" name="plan_id" value="{{ subscription.id }}" required>
                    {{ subscription.name }} - $ {{ subscription.price }} USD
                </label>
                    <br>
                {% endfor %}
                <button type="submit">Subscribe</button>
            </form>

        </div>
    </section>
</body>
</html>

