<!-- templates/ContactUs/contact.html -->
{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/static/home/css/index.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Additional CSS specific to this template if needed -->
{% endblock css %}

{% block head_title %}
    <!-- Set the page title -->
    Your Page Title Here
{% endblock head_title %}

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
<body>
<p>Have a comment or suggestion? Let us know here!</p>

<form action="" method="post" novalidate>
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit">
</form>





</body>
{% endblock %}
