<!-- templates/ContactUs/contact.html -->
{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/static/home/css/index.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Additional CSS specific to this template if needed -->
{% endblock css %}

{% block head_title %}
    <!-- Set the page title -->
    Your Page Title Here
{% endblock head_title %}

{% block content %}
<body>
    <p>Thanks for your input!</p>
    

    
    </body>

    {% endblock content %}